.images{
    display: flex;
    gap: 5%;
}
.rotary{
    width: 20%;
    height: 30%;
    margin-left: 5%;
}
.karen{
    width: 20%;
    height: 30%;  
}
.page{
    width: 20%;
    height: 30%;
}
h1{
    text-align: center;

}
p{
    font-size: 20px;
}