h3{
    text-align: center;
    font-size: 40px;
    color: white;
}
.contactInfo{
    display: flex;
    justify-content: center;
    gap: 10%;
}
p{
    font-size: 20px;
    color: white;
}
.footer{
    background-color: rgb(41, 67, 76);
}

@media screen and (max-width: 480px) {
    h3{
        text-align: center;
        font-size: 25px;
    }
    .contactInfo{
        display: grid;
        justify-content: center;
        gap: 5%;
    }
    p{
        font-size: 16px;
    }
}
@media screen and (min-width: 481px) and (max-width:564px){
    h3{
        text-align: center;
        font-size: 30px;
    }
    .contactInfo{
        display: grid;
        justify-content: center;
        gap: 5%;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (min-width: 565px) and (max-width:768px){
    h3{
        text-align: center;
        font-size: 40px;
    }
    .contactInfo{
        display: grid;
        justify-content: center;
        gap: 1%;
    }
    p{
        font-size: 25px;
    } 
}
@media screen and (min-width: 769px) and (max-width:925px){
    h3{
        text-align: center;
        font-size: 45px;
    }
    .contactInfo{
        display: grid;
        justify-content: center;
        gap: 2%;
    }
    p{
        font-size: 35px;
    } 
}
@media screen and (min-width: 926px) and (max-width:1024px){
    h3{
        text-align: center;
        font-size: 35px;
    }
    .contactInfo{
        display: flex;
        justify-content: center;
        gap: 5%;
    }
    p{
        font-size: 20px;
    } 
}



