.icons{
    display: flex;
    justify-content: center;
    white-space: 50px;

}
p{
    font-size: 30px;
    margin-left: 10%;
    margin-top: 1%;
    
    
  
}
.img{
    height: 150px;
    width: 150px;
    justify-content: space-between;
    gap: 40%;
}
h3{
    margin-bottom: 10%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 25px;
}
figcaption{
    font-size: 25px;
    text-align: center;
}
 @media screen and ( min-width:280px ) and (max-width:675px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;
        display: grid;
        grid-template-columns: auto ;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;
        
      
    }
    img{
        height: 100px;
        width: 100px;
        justify-content: space-between;
        gap: 40%;

        height: 70px;
        width: 70px;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 12%;
        font-size: 25px;

        font-size: 17px;
    }
    figcaption{
        font-size: 25px;
        font-size: 17px;
        text-align: center;
    }
    
   
  
 }
 @media screen and ( min-width:412px ) and (max-width:915px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;

        display: grid;
        grid-template-columns: auto ;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 20px;
        margin-left: 4%;
        margin-right: 4%;
        
      
    }
    img{
        height: 100px;
        width: 100px;
        justify-content: space-between;
        gap: 40%;

        height: 85px;
        width: 85px;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 12%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        font-size: 20px;
        text-align: center;

    } 
}
 
@media screen and ( min-width:412px ) and (max-width:915px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 32px;
        margin-left: 5%;
        margin-right: 5%;
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }


}

@media screen and ( min-width:912px ) and (max-width:1368px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 40px;
        
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }
}
@media screen and ( min-width:540px ) and (max-width:720px){
    .icons{
        display: flex;
        justify-content: center;
       
        display: grid;
        grid-template-rows: auto;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;

        gap: 10%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }
}

@media screen and ( min-width:280px ) and (max-width:653px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;

        flex-wrap: wrap;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 8px;
        margin-left: 1%;
        
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
        font-size: 20px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }


}

@media screen and ( min-width:600px ) and (max-width:1024px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }

}
@media screen and ( min-width:800px ) and (max-width:1280px){
    .icons{
        display: flex;
        justify-content: center;
        white-space: 50px;
    
    }
    p{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 1%;

        margin-left: 5%;
        
        
      
    }
    .img{
        height: 150px;
        width: 150px;
        justify-content: space-between;
        gap: 40%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 25px;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }

}