.howitworks{
    text-align: center;
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
}
.image{
    width: 350px;
    height: 425px;
    border-radius: 25px;
}

#container{
    display: flex;
    gap: 7%;
    padding: 4%;
  
}
#step-one{
    text-align: center;
   font-family: 'Courier New', Courier, monospace;
}
#step-two{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#step-three{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#step-four{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    .howitworks{
        font-size: 200%;
    }
    .image{
        width: 230px;
        height: 300px;
    }
    #container{
        flex-direction: column;
        gap: 5%;
        padding: 2%;
    }
    #step-one, #step-two, #step-three, #step-four{
        font-size: 14px;
    }
    
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .howitworks {
        font-size: 220%;
    }
    .image {
        width: 300px;
        height: 375px;
    }
    #container {
        flex-direction: row;
        gap: 7%;
        padding: 4%;
    }
    #step-one, #step-two, #step-three, #step-four {
        font-size: 18px;
    }
}


@media only screen and (min-width: 1025px) {
    .howitworks {
        font-size: 250%;
    }
    .image {
        width: 350px;
        height: 425px;
    }
    #container {
        display: flex;
        gap: 7%;
        padding: 4%;
    }
    #step-one, #step-two, #step-three, #step-four {
        font-size: 18px;
    }
}
